<ul class="nav nav-tabs mx-4">
  <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}">
    <a class="nav-link" [routerLink]="'/'">home</a>
  </li>
  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" [routerLink]="['annonces']">Annonces</a>
  </li>
  <li class="nav-item">
    <input type="text" #msgErrorInput placeholder=" error message"/>
  </li>
  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" [routerLink]="['alert',msgErrorInput.value]">Warning messag</a>
  </li>

  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" [routerLink]="['auth']">authentication</a>
  </li>

  <div class="btn-group ml-auto" role="group">
    <button (click)="onlist(list)" id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu"  #list aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" >sing in</a>
      <a class="dropdown-item" [routerLinkActive]="'active'" routerLink="user">create a count </a>
    </div>
  </div>


</ul>
