<div class="dropdown">
  <button appNavBarButtonStatus [list]="listElemnt" class="btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" #listElemnt>
    <li role="presentation" class="dropdown-header">Dropdown header</li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
    <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation" class="dropdown-header">Dropdown header</li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
  </ul>
</div>
<div class="container">
<div class="row text-center">
  <div class="col">
    <p class="h3 text-left text-primary">{{title}}</p>
    <app-annonces></app-annonces>
  </div>
 <!-- <div class="col">
    <app-success-alert></app-success-alert>
    <app-warning-alert></app-warning-alert>
  </div>-->
</div>
</div>
<!--<app-tp1></app-tp1>-->


<!-- TP2
<app-game-controller (lastNumber)="testNumber($event)"></app-game-controller>
<app-game-even *ngFor="let number of evenNumber" [evenNumber]="number"></app-game-even>
<app-game-odd *ngFor="let number of oddNumber" [oddNumber]="number"></app-game-odd>
-->

