<ul class="nav nav-tabs">
  <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact : true}">
    <a class="nav-link" [routerLink]="'/'">home</a>
  </li>
  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" [routerLink]="['annonces']">Annonces</a>
  </li>
  <li class="nav-item">
    <input type="text" #msgErrorInput placeholder=" error message"/>
  </li>
  <li class="nav-item" [routerLinkActive]="'active'">
    <a class="nav-link" [routerLink]="['alert',msgErrorInput.value]">Warning messag</a>
  </li>
</ul>

<div class="container">
<div class="row text-center">
  <div class="col">
    <p class="h3 text-left text-primary">{{title}}</p>
    <router-outlet></router-outlet>
  </div>
 <!-- <div class="col">
    <app-success-alert></app-success-alert>
    <app-warning-alert></app-warning-alert>
  </div>-->
</div>
</div>
<!--<app-tp1></app-tp1>-->


<!-- TP2
<app-game-controller (lastNumber)="testNumber($event)"></app-game-controller>
<app-game-even *ngFor="let number of evenNumber" [evenNumber]="number"></app-game-even>
<app-game-odd *ngFor="let number of oddNumber" [oddNumber]="number"></app-game-odd>
-->

