<div class="container">
  <div class="row text-left">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th><h3>annonce id is : </h3> </th>
          <th><h3>fragment type is :  </h3> </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td> <span class="text-warning"> {{adId}} </span></td>
          <td> <span class="text-info">  {{typeOfFragment}}  </span></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
