.stye1{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 25px;
  letter-spacing: -1px;
  word-spacing: -4px;
  color: #33B3FF;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
}

.style2{
  border: 2px outset #1C6EA4;
  border-radius: 4px;
}
