<!--<h1 [ngStyle]="{backgroundColor: changeBackground()}"> Status network is
  <div *ngIf="statusNetwork === 'onLine'; else elseBlock"> online</div>
  <ng-template #elseBlock> <div> off Line </div></ng-template>
</h1>

<p>List of annonces:</p>
<div *ngFor="let annonce of arrayAnnonces; index as i; first as isFirst">
  {{i}} <app-annonce></app-annonce>
</div>
<hr>
<input type="text" class="form-control" [(ngModel)]="updateNameAnnonceVar">
<p>{{ updateNameAnnonceVar }}</p>
<button class="btn btn-primary mx-4" [disabled]="updateNameAnnonceVar === ''" (click)="addAnnonce()"> Add one annonce</button>
<p [class]="classOfNotification"> {{statusOfAnnonce}}</p>-->

<div class="container" >
  <div class="row">
    <div class="col-sm-8">
      <form (ngSubmit)="addAnnonce(f)" #f="ngForm">
        <legend>Add new annonce </legend>
        <div class="form-group text-left">
          <label appBackGroundColor [colorInput]="nameInput.value" >Name :  </label>
          <input type="text" class="form-control" ngModel name="name" #nameInput="ngModel" email required >
          <p class="text-danger" *ngIf="!nameInput.valid && nameInput.touched"> please inter a valide name</p>
          <label >Type :  </label>
          <input type="text" class="form-control" ngModel name="type" required>
          <div class="form-group">
            <label > select type</label>
            <select [ngModel]="defaultType" class="form-control" name="select" >
              <option value="of"> offre </option>
              <option value="de"> demeand</option>
            </select>
          </div>
        </div>
        <button [disabled]="!f.valid" class="btn btn-success"> add new annonce</button>
      </form>
      <div class="list-group" *ngFor="let annonce of annonces; index as i">
        <a (click)="onItemtChange( i )"  class="list-group-item">
          <app-annonce [element]="annonce"></app-annonce>
        </a>
      </div>
    </div>

    <div class="col-sm-4">
      <router-outlet *ngIf="annonceDtails; else infotext"></router-outlet>
      <ng-template #infotext>
        <p class="text-danger" > select annonce for see it details</p>
      </ng-template>
    </div>
  </div>


</div>
