<!--<h1 [ngStyle]="{backgroundColor: changeBackground()}"> Status network is
  <div *ngIf="statusNetwork === 'onLine'; else elseBlock"> online</div>
  <ng-template #elseBlock> <div> off Line </div></ng-template>
</h1>

<p>List of annonces:</p>
<div *ngFor="let annonce of arrayAnnonces; index as i; first as isFirst">
  {{i}} <app-annonce></app-annonce>
</div>
<hr>
<input type="text" class="form-control" [(ngModel)]="updateNameAnnonceVar">
<p>{{ updateNameAnnonceVar }}</p>
<button class="btn btn-primary mx-4" [disabled]="updateNameAnnonceVar === ''" (click)="addAnnonce()"> Add one annonce</button>
<p [class]="classOfNotification"> {{statusOfAnnonce}}</p>-->

<div class="container" >
  <div class="row">
    <div class="col-sm-8">
      <app-form-annonce></app-form-annonce>
      <input class="input-group" type="text" [(ngModel)]="filterValue">
      <div class="list-group" *ngFor="let annonce of annonces |filter:filterValue:'typeAnnonce'; index as i ">
        <button  (click)="onItemtChange( i )"  class="list-group-item m-1">
          <app-annonce [element]="annonce"></app-annonce>
        </button>
      </div>
    </div>

    <div class="col-sm-4">
      <router-outlet *ngIf="annonceDtails; else infotext"></router-outlet>
      <ng-template #infotext>
        <p class="text-danger" > select annonce for see it details</p>
      </ng-template>
    </div>
  </div>


</div>
